.menu_container {
  background-color: #f8f9fa;
  min-height: 100vh;
}


.header {
  background-color: #233d3e; // Color verde oscuro
  height: 10vh;
  display: flex;
  align-items: center;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}


.cart_logo {
  width: 60px;
  height: auto;
  filter: invert(1); // Convierte logos negros en blancos
}


.header_title {
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
}

.carousel_image {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}


.menu_card {
  background-color: rgba(35, 61, 62, 0.8); // 80% de opacidad en verde oscuro
  color: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


@media (max-width: 992px) {
  .menu_card {
    max-width: 90%;
  }
}


.menu_title {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}


.menu_row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.menu_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-align: center;
  padding: 15px;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.menu_item:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.1);
}

.menu_icon {
  width: 60px;
  height: auto;
  margin-bottom: 15px;
  filter: invert(1);
}
